@media print {
	body{
		margin: 0;
		font-size: 10px;
  		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
	}

	.container{
		width: 100%;
	}

	.container>.row>.col{
		margin: 5%;
		width: 90%;
	}

	.icon img{
		max-width: 32px;
	}

	#print, #picture{
		display: none;
	}

	#demographics{
		margin-bottom: 20px;
	}

	#contact{
		position: absolute;
		top: 0; right: 0;
	}
}